@-moz-document domain("medium.com") {
:root {
    --accent: #25c56b;
    --white: #c6c6c6;
}
.qz {
    fill: rgb(0, 0, 0)!important;
}
.ap {
    color: var(--white);
}
h1 {
    color: var(--accent) !important;
    font-family: medium-content-serif-font !important;
}
p {
    color: var(--white) !important;
    font-family: medium-content-serif-font !important;
}

body {
    color: var(--white) !important;
    background: black!important;
}

button, .bz:hover {
    color: var(--accent) !important;
}

.c, .iz, .ky, .ja, .qx, .il, .no, .qp {
    background-color: rgb(32, 32, 32)!important;
}
.ep {
    border-color: var(--accent) !important;
}
::selection {
    background: rgba(38, 226, 114, .24) !important;
}
.q {
    fill: rgb(116, 116, 116)!important;
}
}
