@-moz-document domain("medium.com") {
.q, .io, .km, svg:not(:root) {
    filter: invert(1)!important;
}
.io, .km {
    fill: rgb(255, 255, 255)!important;
}
.cd, .bz:hover {
    font-family: medium-content-serif-font !important;
    color: #25c56b !important;
    filter: none !important;
}
.pp {
    color: #dbdbdb !important;
}
.ap {
    color: #26e272 !important;
    filter: none !important;
}

.ft, .ci, .be,   .rg {
    font-family: medium-content-serif-font !important;
    color: #dbdbdb !important;
}
.c, .iz, .ky, .ja {
    background-color: rgb(32, 32, 32)!important;
}
.ep {
    border-color: #25c56b !important;
}

}
