@-moz-document domain("mail.viettel.com.vn") {
/* i really want this to be global */

body{
    filter: blur(10px) !important;
    transition: 0.25s -webkit-filter linear !important;
}
body:hover {
    filter: none !important;
}

:root {
--darkC0x: #101010;    
--darkC0:  #171717;
--darkC01: #191919;
--darkC1:  #1d1d1d;
--darkC2:  #212121;
--darkC23: #242424;
--darkC3:  #282828;
--darkC4:  #2f2f2f;
--darkC5:  #3f3f3f;
--whiteC0: #fff;
--whiteC1: #e7e7e7;
--whiteC2: #e0e0e0;
--whiteC23:#d0d0d0;
--whiteC3: #a2a2a2;
--whiteC4: #757575;

--mainWhite: #00aab2;
--mainMid: #007f85;
--mainDark: #005559;
}
/* background */
body, .ZmMailMsgView, .MsgBody, .DwtListView, .RowOdd, .LoginScreen, .DwtHorizontalSash, .DwtListView-Column, .ZmMailMsgView .MsgHeader, .ZmMailMsgView .MsgHeaderTable, .MessageHeaderAttachments, #skin_tr_toolbar>TD, #skin_container_tree, .overviewHeader TD, .overviewHeader-actioned TD, #skin_container_tree_footer, .ZmPrefView, .ZOptionsSectionMain, .ZmContactSplitView, .ZmContactView, .ZmEditContactView, .ZmContactInfoView, .ZmContactSimpleView, .ZmBriefcaseDetailListView, .ZmPreviewView, #skin_container_splash_screen, #skin_outer, .calendar_view, .ZmComposeView, .addrBubbleContainer, .attBubbleContainer, .ZmComposeView .subjectField, .defaultSkin table.mceLayout tr.mceFirst td {
    background-color: var(--darkC1)!important;
}
.DwtCalendarDay-selected, .DwtToolTip, .DwtMenu, .ActionMenu, .DwtSelectMenu, .ZmAutocompleteListView {
    background-color: var(--darkC4)!important;
}
.addrBubble:hover, .ZHover .ZMenuItemBorder, .acRow-selected {
    background-color: var(--darkC5)!important;
}
.RowOdd:hover, .RowEven:hover, .DwtTreeItem:hover, .DwtCalendarDay:hover, .DwtCalendarDay-hover {
    background-color: var(--darkC3)!important;
}

.Row-selected, .DwtTreeItem-selected, .DwtCalendarDay-today, .DwtButton-active, .addrBubble-selected {
    background-color: var(--mainDark)!important;
}
.Row-selected:hover, .DwtTreeItem-selected:hover, .ZToolbarButtonBorder:hover, .DwtButton-hover, .addrBubble-selected:hover  {
    background-color: var(--mainMid)!important;
}
.overviewHeader, .overviewHeader-actioned, .DwtTreeItemLevel1ChildDiv, .DwtCalendar, .DwtCalendarDow, #UnknownPersonSlide_Frame, .defaultSkin .mceListBox .mceText, .defaultSkin table.mceListBoxEnabled:hover .mceOpen, .defaultSkin .mceListBoxHover .mceOpen, .defaultSkin .mceListBoxSelected .mceOpen {
    background-color: transparent!important;
}
.ZSelected .ZAppTabBorder, .ZToolbarButtonBorder, .DwtButton, .DwtButton-active, .DwtButton-hover, .ZButtonBorder, .LoginScreen, .SplashScreen {
    background-image: none!important;
}

.ZSelected .ZAppTabBorder, .LoginScreen, .SplashScreen {
    background-color: var(--darkC1)!important;
}
.ZToolbarButtonBorder, .DwtButton, .ZButtonBorder, .addrBubble, .attachmentBubble {
    background-color: rgba(255,255,255,0.08)!important;
}
/* text */
.Row .ZmConvListFragment, .Conv2MsgHeader .ZmConvListFragment, .Row .Row-Selected .ZmConvListFragment, .SubjectDoubleRow .ZmConvListFragment {
    color: var(--whiteC0) !important;
}
.selected TD, .Row-selected TD, .Row-selected-dragProxy TD, .Row-selected-disabled TD, .Row TD, .RowDouble TD, .DwtListView-Column td, TD, .Text, .calendar_grid_body_time_text, .calendar_heading_day, .calendar_heading_day-selected, .calendar_heading_day_today, .calendar_heading_day_today-selected, .addrBubble, .addrBubble-selected, .addrBubble-actioned, .attachmentBubble, .DwtToolTipBody, .addrBubbleContainer INPUT, .attBubbleContainer INPUT, .ZmComposeView .subjectField {
    color: var(--whiteC2) !important;
}
.DwtListView-Column td {
    color: var(--whiteC3) !important;
}
.AttLink:hover, .Row-selected .AttLink:hover, .AttLink:link, .AttLink:visited, .MsgHeaderTable .Object, .DwtCalendarDow, .FakeAnchor:hover, a:link, a:visited, .ZmAutocompleteListView .LinkText {
    color: var(--mainWhite) !important;
}
LEGEND, .FakeAnchor, a:link, a:visited {
    color: var(--mainMid) !important;
}
.AttLink:hover, .Row-selected .AttLink:hover, .AttLink:link, .AttLink:visited, .FakeAnchor, a:link, a:visited {
    text-decoration: none!important;
}
/* border */
.RowDouble, .RowDouble>TABLE, .MessageHeaderAttachments, #skin_tr_toolbar>TD, .ZmMailMsgView, .DwtListView, .ZToolbarButtonBorder, .overviewHeader>TABLE, .overviewHeader-actioned>TABLE, #skin_container_tree, .ZSelected .ZAppTabBorder, #skin_container_tree_footer, .DwtCalendarDow, .DwtCalendarDay-hover, .DwtTreeItem-selected, .ZmPrefView, .DwtCalendarDay-today, .ZmContactSplitView, .ZmContactView, .ZmEditContactView, .ZmContactInfoView, .ZmContactSimpleView, .AlphabetBarTable .DwtButton, .AlphabetBarTable .DwtButton-hover, .AlphabetBarTable .DwtButton-active, .ZmBriefcaseDetailListView, .ZmPreviewView, .ZButtonBorder, .ZmMailMsgView .MsgHeader, .ZmMailMsgView .MsgHeaderTable, .addrBubble, .addrBubble-selected, .addrBubble-actioned, .attachmentBubble, .DwtToolTip, .horizSep, .DwtMenu, .ActionMenu, .DwtSelectMenu, .ZMenuItemBorder, .addrBubbleContainer, .attBubbleContainer, .ZmComposeView .subjectField, .defaultSkin table.mceLayout tr.mceFirst td, .defaultSkin table.mceLayout, .defaultSkin .mceIframeContainer, .defaultSkin .mceButton, .defaultSkin table.mceListBoxEnabled:hover .mceText, .defaultSkin .mceListBoxHover .mceText, .defaultSkin .mceListBoxSelected .mceText, .defaultSkin table.mceListBoxEnabled:hover .mceOpen, .defaultSkin .mceListBoxHover .mceOpen, .defaultSkin .mceListBoxSelected .mceOpen, .defaultSkin .mceListBox .mceOpen, .defaultSkin .mceListBox .mceText, .defaultSkin .mceSplitButton a.mceAction, .defaultSkin .mceSplitButton a.mceOpen, .ZmAutocompleteListView,  .ZmAutocompleteListView TD {
    border: transparent!important;
}
FIELDSET {
    border-color: var(--mainDark)
}
.acRow {
    border: 0px solid var(--mainDark)!important;
}
/* other */
.AppSash-horiz .DwtHorizontalSash {
    margin-left: 0px!important;
}

#skin_spacing_tree {
    padding-bottom: 0px !important;
}
.ImgPrefsHeader_L {
    width: 8px!important;
}
.MsgBody, .defaultSkin iframe {
    filter:invert(0.886) hue-rotate(150deg)!important;
}
.defaultSkin .mceButton {
    filter:invert(0.9) hue-rotate(180deg)!important;
}
.DwtToolTip, .DwtMenu, .ActionMenu, .DwtSelectMenu, .ZmAutocompleteListView {
    box-shadow: 5px 5px 15px var(--darkC2)!important;
}
.addrBubbleContainer, .ZmComposeView .subjectField {
    border-bottom: 1px dashed var(--mainMid)!important;
}
input.subjectField{
    outline-width:0px !important;
}
.LoginScreen .Footer {
    transition: all 0.15s ease-in-out !important;
    opacity: 0 !important;
}
.LoginScreen .Footer:hover {
    transition: all 0.15s ease-in-out !important;
    opacity: 1 !important;
}

}
